@import "tailwindcss";


@theme {
  --breakpoint-custom-sm: 640px;
  --breakpoint-ipad-mini: 700px;
  --breakpoint-custom-lg: 1396px;
  --breakpoint-ipad_pro: 1020px;
  --breakpoint-lg_md: 950px;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* The page itself scrolls */
.page-scroll {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

/* Hide scrollbar */
.page-scroll::-webkit-scrollbar {
  display: none;
}

.page-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes gradient {

  0%,
  100% {
    background-position: left top;
  }

  50% {
    background-position: right bottom;
  }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
}

/* scroll-bar hidden */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* loading */
.fileLoader {
  width: 55px;
  height: 40px;
  --g: radial-gradient(farthest-side, #28282800 calc(95% - 3px), #3e3d3d calc(100% - 3px) 98%, #22222200 101%) no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 14px 14px;
  animation: l9 1s infinite alternate;
}

@keyframes l9 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }

  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }

  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }

  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }

  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}

.thin_scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
}

.thin_scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom_scrollBar_forFullDetails {
  overflow-y: auto;
  scroll-behavior: smooth;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #1f25528a #f3e8ff;
}

.custom_scrollBar_forFullDetails::-webkit-scrollbar {
  width: 8px;
}

.custom_scrollBar_forFullDetails::-webkit-scrollbar-thumb:hover {
  background-color: #171b4b30;
  transform: scaleX(1.2);
}


/* ParticiapantsDetails loading */
.participants_loader {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
}

.participants_loader:before,
.participants_loader:after {
  content: "";
  grid-area: 1/1;
  --c: #0000 calc(100%/3), #04558b 0 calc(2*100%/3), #0000 0;
  --c1: linear-gradient(90deg, var(--c));
  --c2: linear-gradient(0deg, var(--c));
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 6px, 6px 300%;
  background-repeat: no-repeat;
  animation: l0101 1.5s infinite linear;
}

.participants_loader:after {
  margin: 15px;
  transform: scaleX(-1);
  animation-delay: -.25s;
}

@keyframes l0101 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0
  }

  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0
  }

  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0
  }

  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%
  }

  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%
  }

  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%
  }
}